# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VS user files
*.user
*.sdf
*.suo
*.opensdf

# QT generated
3dscan/GeneratedFiles/*

Win32/
3dscan/Release
3dscan/Debug
3dscan/DebugGeneratedFiles

/3dscan/3dscan.vcxproj
*.opensdf
